
.navbar{
    background-color: pink;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    
}
#h1{
    text-align: center;
    margin-top: 19px;
}
#div-menu{
    margin: 30px;
    background-color: lightgray;
    padding: 10px
}

.navbar-nav{
    text-align: center;
}
.menu-title{
    text-align: center;
}
.div-chick{
        
        float: left;
        margin-left: 30px;
        background-color: lightgray;
        padding: 10px;
    }
@media (min-width: 992px){
    .div-chick{
        width: 30%;
        
    }
}

@media (max-width: 991px){
    .div-chick{
        width: 40%;
        float: left;
        margin: 20px;
        padding: 10px;

    }
    #last{
        clear: both;
        width: 98%;
        margin: 10px;

    }
}
